

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 9999s ease-in-out 0s;
}


/**
    * Headlines
    */
.woocommerce-checkout form.checkout .checkout-right h3,
.woocommerce-checkout form.checkout .checkout-left h3 {
    margin-top: 0;
    padding: 0;
    line-height: normal;
    margin-bottom: 30px;
}

/**
    * Fields
    */
.woocommerce-checkout form.checkout p.form-row,
.woocommerce-checkout form.checkout p.form-row#billing_country_field,
.woocommerce-checkout form.checkout p.form-row label {
    margin: 0;
    height: auto;
    line-height: normal;
    margin-bottom: 18px;
}

.woocommerce-checkout form.checkout {
    padding: 0 !important;
}

.woocommerce-checkout form.checkout p {
    line-height: normal;
    font-size: 14px;
}

.single-product .wcpa_wrap .wcpa_field_wrap.wcpa_inline.hideanzahltage {
    display: block !important;
    width: 100%;
}

.single-product .cart .single_add_to_cart_button  {
    text-align: center;
}

.single-product .wcpa_wrap .wcpa_field_wrap,
.woocommerce-checkout form.checkout .woocommerce-billing-fields__field-wrapper p,
.woocommerce-checkout form.checkout .woocommerce-additional-fields__field-wrapper p,
.woocommerce-checkout form.checkout #payment ul.payment_methods li .payment_box p {
    position: relative;
    line-height: normal;
}

.single-product .wcpa_wrap .wcpa_field_wrap label.wcpa_field_label,
.woocommerce-checkout form.checkout .woocommerce-billing-fields__field-wrapper p label,
.woocommerce-checkout form.checkout .woocommerce-additional-fields__field-wrapper p label,
.woocommerce-checkout form.checkout #payment ul.payment_methods li .payment_box p label {
    position: absolute;
    line-height: normal;
    pointer-events: none;
    top: -6px;
    left: 8px;
    z-index: 1;
    font-size: 12px;
    background: #fff;
    margin: 0;
    padding: 0 4px;
    transform: translateY(0%);
    width: auto;
    clip: initial;
    clip-path: initial;
}

.woocommerce-checkout form.checkout #payment ul.payment_methods li .payment_box p label {
    top: -2px;
    left: 15px;
}

.single-product .wcpa_wrap .wcpa_field_wrap label.wcpa_field_label:after {
    font-size: 12px;
    color: inherit;
    position: relative;
}

.single-product .wcpa_wrap .wcpa_field_wrap .wcpa_tooltip_icon {
    pointer-events: all;
}

.single-product .wcpa_field_wrap.wcpa_type_checkbox.wcpa_required_ast .wcpa_checkbox label span:not([class])::after {
    content: "*";
    color: #f25a87;
    margin-right: 2px;
}

.single-product .wcpa_wrap .wcpa_field_wrap .wcpa_field,
.woocommerce-checkout form.checkout .woocommerce-billing-fields__field-wrapper p input,
.woocommerce-checkout form.checkout .woocommerce-billing-fields__field-wrapper p textarea,
.woocommerce-checkout form.checkout .woocommerce-additional-fields__field-wrapper p textarea,
.woocommerce-checkout form.checkout .woocommerce-billing-fields__field-wrapper p select,
.woocommerce-checkout form.checkout .woocommerce-billing-fields__field-wrapper p select ~ span > .selection > span {
    width: 100%;
    padding: 12px 10px 8px;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #fff;
    margin: 0;
    line-height: 17px;
    height: auto;
    min-height: 38px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.woocommerce-checkout form.checkout .woocommerce-billing-fields__field-wrapper p select {
    
}

.woocommerce-checkout form.checkout .woocommerce-billing-fields__field-wrapper p select ~ span {
    width: 100% !important;
}
.woocommerce-checkout form.checkout .woocommerce-billing-fields__field-wrapper p select ~ span > .selection > span > span  {
    padding: 0;
    display: flex;
    align-items: center;
    line-height: normal;
}

.woocommerce-checkout form.checkout .woocommerce-additional-fields{
    height: auto;
}
.woocommerce-checkout form.checkout .woocommerce-additional-fields__field-wrapper p textarea {
    height: 90px;
}

/* Grid */
.woocommerce-checkout form.checkout .woocommerce-billing-fields__field-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 0 18px;
}

.woocommerce-checkout form.checkout .woocommerce-billing-fields__field-wrapper p {
    flex: 1 1 100%;
    box-sizing: border-box;
}
@media (min-width: 768px) {

    .woocommerce-checkout form.checkout .checkout-grid {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 20px;
    }

    .woocommerce-checkout form.checkout .woocommerce-billing-fields__field-wrapper p {
        flex: 1 1 calc(50% - 10px);
    }
}

/**
    * Payments
    */

.woocommerce-checkout form.checkout #payment ul.payment_methods li {
    /* padding: 9px 20px 6px; */
}

.woocommerce-checkout form.checkout #payment ul.payment_methods li .payment_box {
    /* padding: 0; */
}

.woocommerce-checkout form.checkout #payment ul.payment_methods li .payment_box p {
    margin-top: 0;
    font-style: italic;
    margin-bottom: 0px;
}

.woocommerce-checkout form.checkout #payment ul.payment_methods li label img {
    position: initial;
}


.woocommerce-checkout form.checkout button.button, 
.woocommerce-checkout form.checkout input[type="submit"] {
    width: 100%;
    text-align: center;
}

/**
* review Table
*/
.woocommerce-checkout form.checkout .woocommerce-checkout-review-order-table thead {
    border: 1px solid !important; 
}
.woocommerce-checkout form.checkout .woocommerce-checkout-review-order-table thead tr,
.woocommerce-checkout form.checkout .woocommerce-checkout-review-order-table thead tr th {
    border: none !important;
}
.woocommerce-checkout form.checkout .woocommerce-checkout-review-order-table thead .product-total,
.woocommerce-checkout form.checkout .woocommerce-checkout-review-order-table tbody .actions {
    display: none;
}

.woocommerce-checkout form.checkout .woocommerce-checkout-review-order-table .wcpa_cart_meta {
    display: none;
}
.woocommerce-checkout form.checkout .woocommerce-checkout-review-order-table .wcpa_cart_meta.show {
    display: block;
}
.woocommerce-checkout form.checkout .woocommerce-checkout-review-order-table .cart_item .product-name {
    padding: 0;
    display: table-cell;
}

.woocommerce-checkout form.checkout .woocommerce-checkout-review-order-table tfoot td {
    text-align: right;
    display: table-cell;
} 

.woocommerce-checkout form.checkout .woocommerce-checkout-review-order-table .cart_item .product-name .item-name-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
}
.woocommerce-checkout form.checkout .woocommerce-checkout-review-order-table .cart_item .product-name .item-name-wrapper .product-name-text {
    font-size: 14px;
    font-weight: bold;
}

.woocommerce-checkout form.checkout .woocommerce-checkout-review-order-table .cart_item .product-name .wc-gzd-cart-item-name-wrapper {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.woocommerce-checkout form.checkout .woocommerce-checkout-review-order-table .toggle-details-btn {
    background: none;
    border: none;
    color: #0073aa;
    cursor: pointer;
    font-size: 13px;
    text-decoration: underline;
    display: block;
    width: 100%;
    padding: 10px 16px;
    background: #eeeeee;
}

.woocommerce-checkout form.checkout .woocommerce-checkout-review-order-table .toggle-details-btn:hover {
    color: #005177;
}

.woocommerce-checkout form.checkout .woocommerce-checkout-review-order-table .wcpa_cart_meta_item {
    display: flex;
    justify-content: space-between;
    margin: 0;
    border-bottom: 1px solid #eee;
    padding: 4px 0;
}

.woocommerce-checkout form.checkout .woocommerce-checkout-review-order-table .wcpa_cart_meta_item:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.woocommerce-checkout form.checkout .woocommerce-checkout-review-order-table .wcpa_cart_meta_item-label,
.woocommerce-checkout form.checkout .woocommerce-checkout-review-order-table .wcpa_cart_meta_item-value p {
    font-size: 14px;
    margin: 0;
}

.woocommerce-checkout form.checkout .woocommerce-checkout-review-order-table .wcpa_cart_meta_item-label {
    font-weight: bold;
    margin-right: 10px;
    flex: 1;
}

.woocommerce-checkout form.checkout .woocommerce-checkout-review-order-table .wcpa_cart_meta_item-value {
    flex: 2;
    text-align: right;
}

.woocommerce-checkout form.checkout .woocommerce-checkout-review-order-table .further-order {
    display: inline-block;
    background-color: #007cba;
    color: white;
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
    margin: 10px 0;
    border: none;
    cursor: pointer;
}

/**
    * 
    */
.woocommerce-checkout form.checkout .wc-gzd-checkboxs > * {
    margin-bottom: 10px;
}